html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #eee;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #000000;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #004182;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

#tab-about,
#tab-skills,
#tab-opleiding {
  padding-bottom: 5rem;
  border-bottom-style: outset;
  border-width: 2px;
}

#tab-portfolio {
  padding-bottom: 5rem;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
  padding-top: 5rem;
  font-weight: 500;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.9;
  padding-top: 1rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
  font-weight: 600;
}
.et-hero-tab:hover {
  color: white;
  /* background: rgba(102, 177, 241, 0.8); */
  background: rgba(115, 78, 250, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #9b5de5;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

.about-img img {
  height: 300px;
  border-radius: 50%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.aboutText h1 {
  padding-top: 12rem;
}
.aboutp p {
  padding-bottom: 5rem;
}

#contact .fa {
  margin-right: 1rem;
  margin-left: 1rem;
}

.skillcard {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.skillcard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.skillcard h3 {
  font-weight: 600;
}

.skillcard img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card-2 {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  padding: 1rem;
}

.card-3 {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  padding: 1rem;
}

@media (max-width: 990px) {
  .skillcard {
    margin: 20px;
  }
}

#tab-opleiding h2 {
  color: #9b5de5;
  font-weight: 600;
  padding-top: 3rem;
}

#tab-portfolio h1 {
  padding-bottom: 2rem;
}

.btn-success {
  background-color: #9b5de5;
  border-color: #eee;
}

.btn-success:hover {
  background-color: #eee;
  color: #9b5de5;
  border-color: #9b5de5;
  font-weight: 800;
}

footer {
  background-color: #616669;
  color: #fdf4dc;
  padding: 0.25rem;
}

footer a {
  color: #fdf4dc;
  margin-right: 5rem;
}

footer .fa {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
}
